doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title='NWAC Plotting Tool Demo'
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='font-awesome.css')
  body
    div(class='container')
      div(class='row-sm-12')
        div(class='pull-right')
          ul(class="nav nav-pills")
            li(role="presentation")
              a(href='/')='Standard'
            li(role="presentation")
              a(href='/full')='Full'
        h1='NWAC Plotting Tool'
        h5=title
        div(id='d3-dropdown-test-target')
        div(id='d3-plot-target')
        div(style='margin-bottom: 15px')
          small
            code="NWAC Emulator - (Node.js)"
    script(src='jquery.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmlnWKI60J2KE3CP6XfqwemnJCjQkCMVU")
    script(src='bootstrap.min.js')
    script(src='d3.min.js')
    script(src='plotting.js')
    script.
      var options = {
          "target": "#d3-plot-target",
          "plotHandlerId": #{plotTemplateId}
      };
      var access = {
          "token": "#{token.token}",
          "expires": "#{token.expires}"
      };

      var plotter = new Plotting.Handler(access, options);
      plotter.initialize();

      var set1 = [
        {barometric_pressure: 1017.89, battery_voltage: 13.75, data_logger: 43, datetime: "2016-02-28T00:00:00Z"},
        {barometric_pressure: 1018.90, battery_voltage: 13.74, data_logger: 43, datetime: "2016-02-28T01:00:00Z"},
        {barometric_pressure: 1019.91, battery_voltage: 13.73, data_logger: 43, datetime: "2016-02-28T02:00:00Z"}
      ];
      
      var set2 = [
        {barometric_pressure: 997.01, wind_speed_average: 3.75, data_logger: 43, datetime: "2016-02-28T01:00:00Z"},
        {barometric_pressure: 998.02, wind_speed_average: 4.00, data_logger: 43, datetime: "2016-02-28T02:00:00Z"},
        {barometric_pressure: 999.03, wind_speed_average: 3.85, data_logger: 43, datetime: "2016-02-28T03:00:00Z"}
      ];
      
  
